---
import '../Style/style.css'
---

<header class="header" id="header">
    <div class="progress-container">
        <div class="progress-bar" id="myBar"></div>
      </div>  
    <nav class="nav container">
        <a href="#" class="nav__logo"> Hello </a>

        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">
                <li class="nav__item">
                    <a href="#home" class="nav__link active-link">Home</a>
                </li>
                <li class="nav__item">
                    <a href="#about" class="nav__link">About Us</a>
                </li>
                <li class="nav__item">
                    <a href="navbars.html" class="nav__link">Navbars</a>
                </li>
                <li class="nav__item">
                    <a href="#contact" class="nav__link">Contact Us</a>
                </li>

                <i class='bx bx-toggle-left change-theme' id="theme-button"></i>
            </ul>
        </div>

        <div class="nav__toggle" id="nav-toggle">
            <i class='bx bx-grid-alt'></i>
        </div>

        <a href="navbars.html" class="button button__header">Try Now!</a>
    </nav>
</header>

